services:
  telegram_bot:
    build: .
    env_file:
      - .env
    volumes:
      - ./config.json:/app/config.json:ro
      - ./app/mikrotik/certs:/app/mikrotik/certs:ro
    restart: unless-stopped
